{% extends 'base.html.twig' %}

{% block body %}
    ADD NEW USER
    <form class="form-inline" method="POST" action="{{ url('add_user') }}">
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>

        <input type="submit" name="Submit" class="form-control">
    </form>

    <hr>

    SEARCH
    <form class="form-inline" method="GET" action="{{ url('search_tweet') }}">
        <div class="form-group">
            <label>Tweet</label>
            <input type="text" name="term" placeholder="Tweet" class="form-control">
        </div>
        <div class="form-group">
            <label>and/or Username</label>
            <select name="user_id" class="form-control">
                <option value=""> -</option>
                {% for result in dropDownUsers %}
                    <option value="{{ result.id }}"> {{ result.username }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" name="Submit" class="form-control">
    </form>

    <hr>
    <div class="count">
        Total Pages: {{ pagination.getTotalItemCount }}
    </div>
    <table class="table table-bordered table-stripped table-hover">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 't.id') }}</th>
            <th>Profile image</th>
            <th{% if pagination.isSorted('t.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Username', 't.username') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Name', 't.name') }}</th>
            <th>URL</th>
            <th>Description</th>
            <th>View Profile</th>
        </tr>

        {# table body #}
        {% for result in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ result.id }}</td>
                <td><img src="{{ result.profileImage }}"></td>
                <td><a href="https://twitter.com/{{ result.username }}" target="_blank">{{ result.username }}</a></td>
                <td>{{ result.name }}</td>
                <td><a href="{{ result.url }}">{{ result.url }}</a></td>
                <td>{{ result.description|raw }}</td>
                <td><a href="{{ url('profile', {'username' : result.username}) }}">View Profile</a></td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

