{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-2 col-sm-offset-3"><img src="{{ result.profileImage }}"></div>
        <div class="col-sm-2"><a href="https://twitter.com/{{ result.username }}"
                                 target="_blank">{{ result.username }}</a></div>
        <div class="col-sm-2">({{ result.name }})</div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            {{ result.description }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            TWEETS:
            <ul>
                {% for tweet in tweets %}
                    <li>
                        [{{ tweet.createdAt|date('Y-m-d H:i:s') }}] {{ tweet.tweet|raw }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

